# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env
.env.*
instance/*.db
instance/*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
nul

# Logs
logs/
*.log

# Build
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Cache
*.cache/

# Uploads
uploads/

# Instance folder
instance/

.env
instance/*.db
