# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.env
.env.*
instance/*.db
instance/*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
*.egg-info/

# IDE
.vscode/
.idea/

# Cache
*.cache/

.env
instance/*.db
